@inherits LayoutComponentBase

<header class="level p-4 border-bottom">
	<img src="images/logo.png" alt="Logo" />
    <h2 role="status" class="is-size-4 mr-4 mb-auto pt-4">Current Date: @Date.ToString("D")</h2>
</header>
<div class="columns">
    <aside class="column is-one-quarter container">
        <NavMenu />
    </aside>
    <main class="column is-three-quarter container">
            @Body
    </main>
</div>
<footer class="footer">
        <p class="has-text-centered is-size-5">Av Max Gagner (maga2101) - Kontakta mig via min Epost: nejtack@bin.dk</p
</footer>

@code {
    private DateTime Date;

    protected override void OnInitialized()
    {
        Date = DateTime.Today;
    }
}