<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Uppgift1.1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<aside>
    <nav class="menu is-flex-direction-row" onclick="document.querySelector('.navbar-toggler').click()">
        <ul class="menu-list">
            <li>
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="razor">
                    Razor
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="about">
                    About
                </NavLink>
            </li>
        </ul>
    </nav>
</aside>

